body {
    background-image: url(../Images/istockphoto-464465954-612x612.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
